@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.Outfitfont {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;

}


.nintendo {
  font-family: 'Press Start 2P', cursive;
}
.transparent-bg {
    background-color: transparent /* White color with 50% transparency */
}
.gradient-border {
    border: 2px solid;
    border-image: linear-gradient(45deg, #C23BFF, #7F69FC,#1EA9F7) 1;


}

.border-gradient {
    border: 2px solid;
    border-image: linear-gradient(to right bottom, #C23BFF, #7F69FC, #1EA9F7) 1;
    border-image-slice: 1;
    border-radius: 1.5rem;
  }
.border-gradient-l {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #C23BFF, #7F69FC, #1EA9F7) 1;
    border-image-slice: 1;
    border-radius: 1.5rem;
  }
.border-gradient-r {
    border-left: 2px solid;
    border-image: linear-gradient(to left, #C23BFF, #7F69FC, #1EA9F7) 1;
    border-image-slice: 1;
    border-radius: 1.5rem;
  }
.border-gradient2 {

    border-image: linear-gradient(to bottom, #C23BFF, #7F69FC, #1EA9F7) 1;
    border-image-slice: 1;
    border-left: 2px solid;;
  }

  .textgradient{
        background: linear-gradient(to left, #C23BFF, #7F69FC, #1EA9F7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

  }
  .textgradient2{
        background: linear-gradient(to left, #C23BFF, #7F69FC, #01d7f3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 500px ;
        filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.5));
  }
  .textgradient3{
        background: linear-gradient(to left, #C23BFF, #7F69FC, #01d7f3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.5));
  }


.tlsize{
  font-size: 30rem;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3.5rem;

}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2rem;
}
h5{
    font-size: 0.8rem;
}


.swiper-slide img{
    width: 200px;
    height: 250px;
}
.swiper-blur-container {
    position: relative;

  }

  .swiper-blur-container::before,
  .swiper-blur-container::after {

    content: "";
    position: absolute;
    top: 0;
    width: 400px; /* Adjust the width of the blurred area */
    height: 100%;
    backdrop-filter: blur(2px); /* Adjust the blur value as needed */

  }

  .swiper-blur-container::before {
    z-index: 2;
    left: 0;
  }

  .swiper-blur-container::after {
    z-index: 1;
    right: 0;
    left: auto;
  }
  .shadow-custom {
    filter: drop-shadow(0.50rem 0.5rem 0.3rem rgba(0, 0, 0, 0.3));
  }
  .shadow-custom2 {
    filter: drop-shadow(0.90rem 0.5rem 0.3rem rgba(0, 0, 0, 0.3));
  }

  .rectangle {

    height: 6px;

    background: white;
  }

  .triangle-bottomleft {
    width: 0;
    height: 0;
    transform:  scaleY(-1);
    border-style: solid;
    border-width: 100px 1000px 0px 0px;
    border-color: #EEB722 transparent transparent transparent;
  }
  .triangle-bottomleft2 {

    width: 0;
    height: 0;
    transform: scaleX(-1) scaleY(-1);
    border-style: solid;
    border-width: 90vh 100vw 0px 0px;
    border-color: #EEB722 transparent transparent transparent;
  }
  .triangle-bottomleft3 {
    z-index: -1;
    width: 0;
    height: 0;
    transform: scaleX(-1) scaleY(-1);
    border-style: solid;
    border-width: 40vh 90vw 0px 0px;
    border-color: rgb(236, 236, 236) transparent transparent transparent;
  }



  .circle {
    width: 1071px;
    height: 889px;
    background: #EEB722;
    border-radius: 50%;

  }
  .circle2 {
    width: 871px;
    height: 889px;
    background: #EEB722;
    border-radius: 50%;

  }


  .triangle-topright {
    width: 0;
    height: 0;
    transform:  scaleX(-1);
    border-width: 100px 500px 0px 0px;
    border-color: #EEB722 transparent transparent transparent;
  }


  @media (max-width: 1400px){

    .swiper-blur-container::before,
    .swiper-blur-container::after{
        width: 350px;
    }
  }
  @media (max-width: 1023px){

    .triangle-bottomleft{
      border-width: 100px 500px 0 0;
    }
    .swiper-blur-container::before,
    .swiper-blur-container::after{
        width: 200px;
    }
    .tlsize{
      font-size: 20rem;
    }
    .circle{
      width: 771px;
      height: 689px;
    }
  }
  @media (max-width: 767px){

    .tlsize{
      font-size: 15rem;
    }
    h2{
      font-size: 2.5rem;
    }
    .circle2{
      width: 471px;
      height: 489px;
    }

  }
  @media (max-width: 640px){
    .triangle-bottomleft{
      border-width: 50px 300px 0 0;
    }
    .triangle-topright{
      border-width: 50px 300px 0px 0px;
    }
    .tlsize{

      font-size: 10rem;
    }

  }

  .fontweight{
    font-weight: 1000;
  }


/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #07041B; /* Color of the scrollbar track */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #C23BFF, #7F69FC,#8b098b); /* Color of the scrollbar handle */
    border-radius: 5px; /* Radius of the scrollbar handle */

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blue; /* Color of the scrollbar handle on hover */
  }

